name: CI
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v26
        with:
          github_access_token: ${{ secrets.GH_TOKEN }}
      - uses: DeterminateSystems/magic-nix-cache-action@v4
      - name: Check formatting
        run: nix develop -i -c sh -c "if gofmt -s -l . | grep -q '.'; then exit 1; fi"
      - name: Build Docker image
        run: nix build .#image
